<%- include('../partials/html-head.ejs') %>
<!-- <link rel="stylesheet" href="/stylesheets/characters/new.css" /> -->
<%- include('../partials/nav.ejs') %>
<section> 
<h1>Your Books</h1>

<% if (books.length) { %>
	<% books.forEach(book => { %>
		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>Genre</th>
					<th>Complete</th>
				</tr>
			</thead>
			<tbody>
				<% books.forEach(book => { %>
					<tr>
						<td> 📖 <%=  book.title %></td>
						<td><%= book.genre %></td>
						<td><%= book.completed %></td>
						<td><a href="/books/<%=book._id %>">Details</a></td>
					</tr>
					<% }) %>
				</tbody>
			</table>
			<% }) %>
			<% } else {  %>
			  <h2>There are no books yet</h2>
			<% } %>
		</section>
		
		<%- include('../partials/footer.ejs') %>