<%- include('./partials/html-head') %>

<%- include('./partials/nav') %>

<main>
  <h1>The Scribble-Inn</h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %>"
      />
    </div>
  <% } %>

  <a 
    href="/characters" <%- title === 'Your Characters' ? 'class="active"' : '' %>
  >
    Your Characters
  </a>
<br>
  <a 
    href="/books" <%- title === 'Your Books' ? 'class="active"' : '' %>
  >
    Your Books
  </a>

  <a class="nav-link nav-char"
  href="/characters/new" <%- title === 'Add Character' ? 'class="active"' : '' %>
>
  + Character
</a>

<a class="nav-link nav-book"
href="/books/new" <%- title === 'Add Book' ? 'class="active"' : '' %>
>
+ Book
</a>

</main>

<%- include('./partials/footer') %>
