<%- include('../partials/html-head.ejs') %>
<%- include('../partials/nav.ejs') %>

<section> 
	<h1 id="char-index">Your Characters</h1>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Book Origin</th>
				<th>Quick Note</th>
				<th>Details</th>
			</tr>
		</thead>
		<tbody>
			<% characters.forEach(character => { %>
				<tr>
					<td> 👤 <%=  character.name %> </td>
					<td><%=  character.bookOrigin %> </td>
					<td><%=  character.toNote %> </td>
					<td><a href="/characters/<%=character._id %>">Details</a></td>
				</tr>
			<% }) %>
		</tbody>
	</table>
</section>


<%- include('../partials/footer.ejs') %>